html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
* {
    font-family: 'Roboto', sans-serif;
}
/* Header Section*/
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.header {
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    margin: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: #e5e7eb;
}
a:hover {
    color: #e5e7ebad;
}
.link-container {
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 5%;
}
/* Main Section */
.hero-container {
    display: flex;
    margin: 0px;
    flex-basis: 400px;
    padding: 90px;
    justify-content: center;
    background-color: #1F2937;
}
.hero {
    font-size: 40px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
    justify-content: flex-start;
}
.sub-hero {
    font-size: 18px;
    color: #e5e7eb;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}
.heroes {
    width: 400px;
    justify-content: center;
    align-self: center;
    margin: 20px;
}
.button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 10px;
    padding: 10px 35px;
    display: block;
    border: none;
    font-weight: bold;
}
.balloons {
    flex-basis: 400px;
}
.balloon {
    background-color: #6d747d;
    max-width: 100%;
    border-radius: 10px;
    height: 90%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.quote-container {
    font-style: italic;
}
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}